.max-w-3xs {
max-width: var(--container-3xs);
}
.max-w-2xs {
max-width: var(--container-2xs);
}
.max-w-xs {
max-width: var(--container-xs);
}
.max-w-sm {
max-width: var(--container-sm);
}
.max-w-md {
max-width: var(--container-md);
}
.max-w-lg {
max-width: var(--container-lg);
}
.max-w-xl {
max-width: var(--container-xl);
}
.max-w-2xl {
max-width: var(--container-2xl);
}
.max-w-3xl {
    max-width: var(--container-3xl);
}