.root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.messageList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sectionHeader {
  position: sticky;
  top: 0;
  z-index: 5;
  
  width: 100%;
  margin-left: auto;

  align-items: flex-start;

  padding: var(--spacing-sm) 0
}

.sectionContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.section.isLastSection .sectionContent {
  min-height: var(--last-section-min, 0px);
}

