.container {
  height: 100%;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 120px; /* input height + spacing */
  padding-top: var(--spacing-md);
}

.messagesWrapper {
  padding-inline: var(--spacing-md);
}

